extends layout

block content
    section(style="flex: 1 0 auto; padding: 20px;")
        div(class='columns is-mobile is-centered')
            div(class='column is-half')
                p Company Name:
                    //- p=company.company_name
                p Form Info:
                    //- p=company.formresponses