extends layout

block content
  section(class="section" style="flex: 1 0 auto; padding: 20px;")
    div(class='columns is-full is-multiline is-mobile')
      div(class='column')
        form(action='' method='POST')
          each form in duedates
            div(class='field')
              label(class='label')=form.form_name
              input(class='input' type='date' value=form.duedate name=form.id)
          div(class='field')
            button(class='button is-primary' type='Submit') Submit Form