extends layout

block content
  section(class="section" style="flex: 1 0 auto; padding: 20px;")
    if (messages.error)
      div(class='notification is-danger')
        p=messages.error
    else if (messages.info)
      div(class='notification is-primary')
        p=messages.info
    else
      div(class="notification is-dark")
        p Welcome to the Coös County Director Network (CCDN) Training Quality Database
    div(class='columns is-centered')
      div(class='column is-5')
        p(class='is-italic') Please note that we recommend using #[a(href="https://www.mozilla.org/en-US/firefox/new/") Firefox] with this system.
        p(class='it-italic mt-5') If you have any issues, please submit a #[a(href='/support') support] ticket.