extends layout

block content
  section(class="section" style="flex: 1 0 auto; padding: 20px;")
    if (messages.error)
      div(class='notification is-danger')
        p=messages.error
    else if (messages.info)
      div(class='notification is-primary')
        p=messages.info
    else
      div(class="notification is-dark")
        p Welcome to the Mothership