doctype html
html
  head
    if title
      title=title
    else
      title Mothership
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/mystyles.css')
    link(rel="icon", type='text/css', href='/icons/mothershipicon.png')
    script(src="/menuToggle.js")
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    nav(class="navbar" role="navigation" aria-label="main navigation")
      div(class="navbar-brand")
        a(class="navbar-item" href="/")
          img(src="/icons/mothershipiconlarge.png" alt="Mothership")
          p(class='has-text-centered' style='padding-left: 5px;') Mothership
        a.navbar-burger(role='button' aria-label='menu' aria-expanded='false' data-target='navbarBasicExample')
          span(aria-hidden='true')
          span(aria-hidden='true')
          span(aria-hidden='true')
      #navbarBasicExample.navbar-menu
        .navbar-start
          a(class="navbar-item" href="/") Home
          if user
            if user.user_type === "ADMIN"
              div(class="navbar-item has-dropdown is-hoverable")
                a(class='navbar-link') Admin Menu
                div(class='navbar-dropdown')
                  a(class='navbar-item' href='/createcompany') Create Company
                  a(class='navbar-item' href='/signup') Create User
        div(class="navbar-end")
          if user
            div(class='navbar-item has-dropdown is-hoverable')
              a(class='navbar-link') Support
              div(class='navbar-dropdown')
                a(class='navbar-item' href="/support") Submit a Ticket
            div(class='buttons navbar-item')
              div(class='buttons')
                  a(class="button is-primary" href=`/${user.user}/profile`)
                    p Dashboard
                  a(class="button is-light" href='/logout')
                    p Log Out
          else
            div(class='buttons')
              a(class="button is-light" href='/login' style='padding-right: 20px')
                p Log In
    block content
    block foot
      footer
        div(class='columns is-centered')
          p © Copyright #{currentYear}