extends layout

block content
    section(class="section")
        -console.log(messages.info)
        if (messages.error)
            div(class="container is-danger notification")
                p= messages.error
        else
            div(class="container is-dark notification")
                p Log In
    section(class="section" style="flex: 1 0 auto; padding: 20px;")
        div(class="columns is-mobile is-centered")
            div(class="column is-6")
                form(action='' method="POST")
                    div(class="field")
                        label(class="label") Username
                        input(class="input" type="text" name="username" id="username")
                        p(class="help") Type in your username here.
                    div(class="field")
                        label(class="label") Password
                        input(class="input" type="password" name="password" id="password")
                        p(class="help") Enter your password here. 
                    div(class="field")
                        button(class="button is-link") Submit