extends layout

block content
    section(class="section")
        if (messages.info)
            div(class="container is-danger notification")
                p=messages.info
        else if (messages.error)
            div(class='container is-danger notification')
                ul
                    each value in messages.error[0].errors
                        li=value.msg
        else
            div(class="container is-dark notification")
                p User Creation Portal
        div(class="columns is-mobile")
            div(class="column is-3")
            div(class="column is-7")
                form(action='' method="Post")
                    div(class="field")
                        label(class="label") Username
                        input(type="text" class="input" id="username" name="username" required)
                        p(class="help") Enter a username here.
                    div(class="field")
                        label(class="label") Password
                        input(class="input" id="password" name="password" type="password" required)
                        p(class="help") Enter a password for the user here.
                    div(class="field")
                        label(class="label") E-Mail Address
                        input(class="input" id="email" name="email" type="text" required)
                        p(class="help") Enter a email address for the user here.
                    div(class="field")
                        label(class="label") Associated Company:
                            p(class="help") Select the associated company for this user.
                    div(class='field')
                        div(class="control")
                            select(class='select' name='companyradio')
                                each company in companys
                                        option(value=company.id)=company.company_name
                    div(class="field")
                        button(type="Submit" class="button is-link") Submit