extends layout

block content
    section(style="flex: 1 0 auto; padding: 20px;")
        div(class='columns is-centered is-mobile')
            div(class="column")
                if(messages.info)
                    div(class='notification is-success')
                        p=messages.info
                else
                    div(class='notification is-dark')
                        p Thanks for your submission.