html {
  height: 100%;
  margin: 0;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

a {
  color: #00B7FF;
}


hr.solid {
  border-top: 3px solid skyblue;
}

footer {
  flex-shrink: 0;
  height: 20px;
  font-size: 10px;
}