extends layout

block content
    -console.log(programDetails)
    section(class='section' style="flex: 1 0 auto;")
        div(class='columns is-mobile is-multiline is-centered')
            h1(class='has-text-centered has-text-weight-bold is-size-2') DN #{currentYear} STAFF MEETING TRACKER FORM
            div(class='column is-full')
                form(action='' method='POST' class="js-formstafftrack")
                    div(class='field')
                        label(class='label') Program:
                        input(type='text' disabled value=programDetails.company_name class='input')
                    div(class='field')
                        label(class='label') Director Name:
                        input(type='text' disabled value=programDetails.first_name + " " + programDetails.last_name class='input')
                    div(class='field')
                        label(class='label') Other Name:
                        input(type='text' class='input' name='othername')
                    div(class='field')
                        table(class='table')
                            thead
                                th Month
                                th Date Held
                            tbody
                                tr
                                    th January
                                    td
                                        input(type='text' class='input' name='januarydates')
                                tr
                                    th February
                                    td
                                        input(type='text' class='input' name='februarydates')
                                tr
                                    th March
                                    td
                                        input(type='text' class='input' name='marchdates')
                                tr
                                    th April
                                    td
                                        input(type='text' class='input' name='aprildates')
                                tr
                                    th May
                                    td
                                        input(type='text' class='input' name='maydates')
                                tr
                                    th June
                                    td 
                                        input(type='text' class='input' name='junedates')
                                tr
                                    th July
                                    td
                                        input(type='text' class='input' name='julydates')
                                tr
                                    th August
                                    td
                                        input(type='text' class='input' name='augustdates')
                                tr
                                    th September
                                    td
                                        input(type='text' class='input' name='septemberdates')
                                tr
                                    th October
                                    td
                                        input(type='text' class='input' name='octoberdates')
                                tr
                                    th November
                                    td
                                        input(type='text' class='input' name='novemberdates')
                                tr
                                    th December
                                    td
                                        input(type='text' class='input' name='decemberdates')
                    div(class='column is-full mt-6 mb-6')
                            div(class='field')
                                button(type='submit' class='button is-primary') Submit Form
                                button(type='button' class='ml-5 button is-info js-button' ) Save Form Data
                                button(type='button' class='ml-5 button is-danger js-clearbutton' ) Clear Form Data
    script(src='https://unpkg.com/form-storage@1.2.0/build/form-storage.js')
    script. 
        var formStoragestaffTrack = new FormStorage('.js-formstafftrack', {
            name: 'staffmeetingtrack-storage'
        });
        formStoragestaffTrack.apply();
        var button = document.querySelector('.js-button');
        var button2 = document.querySelector('.js-clearbutton')
        button.addEventListener('click', function(){
            formStoragestaffTrack.save();
            location.reload(true);
        });
        button2.addEventListener('click', function(){
           formStoragestaffTrack.clear();
            location.reload(true);
        })